<app-nav></app-nav><br>
<app-toggle></app-toggle>
<app-todo></app-todo>
<div class="container" width="300px" height="400px" style="border:1px solid gray;padding:10px">
  <h2 style="color: green;"><i>Pass Data Parent to child</i></h2>
<h3>Parent </h3>
<div class="container">
  <button (click)="updateNumber()" class="btn btn-outline-primary">UpdateNumber</button><br>
  <app-ptoc [item]="Number"></app-ptoc>
</div>
</div><br>
<div class="container" width="300px" height="400px" style="border:1px solid gray;padding:10px">
  <h2 style="color: #3b5998;"><i>Child To Parent</i></h2>
  <h3><i>Parent</i></h3>
  <p>{{data}}</p>
  <app-ctop (updateEvent)="updateData($event)"></app-ctop>
</div><br>
<div class="container" width="300px" height="400px" style="border:1px solid gray;padding:10px">
  <h2 style="color:firebrick"><i>Two Way Binding</i></h2>
  <input type="text" name="" id="" placeholder="Enter Something" [(ngModel)]="Name">&nbsp;&nbsp;
  <span>{{Name}}</span>
</div><br>
<div class="container" width="300px" height="400px" style="border:1px solid gray;padding:10px">
  <h2><i>Pipes</i></h2>
<span>{{title}}</span>,<span>{{title|uppercase}}</span><br><br>
<span>{{20|currency:'USD'}}</span>, <span>{{20|currency:'INR'}}</span>, <span>{{20|currency:'GBP'}}</span><br><br>
<span>{{2.3|number:'3.3-5'}}</span> , <span>{{user|json}}</span>,<br><br>
 <span><b>{{today}}</b></span>,  <span><b>{{today|date}}</b></span>,  <span><b>{{today|date:'fullDate'}}</b></span>
</div><br>
<app-form></app-form>
